.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: 
  'h h'
  'n mc';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  grid-area: h;
  background-color: blue;
}
.header-img {
  width: 25px;
}
.navbar {
  grid-area: n;
  background-color: green;
}
.main-content {
  grid-area: mc;
  background-color: khaki;
}