.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: 20px;
}

.dialogs__items {
    margin-right: 20px;
    padding: 10px;
    background-color: #fff;
}


.messages {
    padding: 10px;
    background-color: #fff;
}

.message {

}